<main class="contenedor"> 
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="Nombre" placeholder="Tu Nombre">
        </div>
        <div class="campo">
            <label>Email</label>
            <input type="email" name="Email" placeholder="Tu Email">
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="Contraseña" placeholder="Tu Contraseña">
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="Confirmar" placeholder="Confirma Tu Contraseña">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-secion">Volver a Iniciar Secion</a>
        </div>
         <div class="campo">
             <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
        
    </form>
</main>