<main class="contenedor">
    <form action="/iniciar-secion" method="POST" class="default-form">
    <div class="campo">
        <label>Email</label>
        <input type="email" name="Email" placeholder="Tu  Email" required>
    </div>
    <div class="campo">
        <label>Contraseña</label>
        <input type="password" name="Contraseña" placeholder="Tu  Contraseña" required>
    </div>
    <div class="campo acciones">
        <a href="/crear-cuenta">Crea una Nueva Cuenta!</a>
        <a href="/restablecer-contraseña">Restablece tu Contraseña!</a>
    </div>
    <div class="campo ">
        <input type="submit" value="Inicar Secion" class="btn btn-azul">
    </div>
    </form>
</main>