<main class="contenedor">
    <form action="/iniciar-secion" method="POST" class="default-form">
    <div class="campo">
        <label>Email</label>
        <input type="email" name="Email" placeholder="Tu  Email" required>
    </div>
    <div class="campo">
        <label>Contrase単a</label>
        <input type="password" name="Contrase単a" placeholder="Tu  Contrase単a" required>
    </div>
    <div class="campo acciones">
        <a href="/crear-cuenta">Crea una Nueva Cuenta!</a>
        <a href="/restablecer-password">Restablece tu Contrase単a!</a>
    </div>
    <div class="campo ">
        <input type="submit" value="Inicar Secion" class="btn btn-azul">
    </div>
    </form>
</main>