<main class="contenedor">
    <form  method="POST" class="default-form">
        <div class="campo">
            <label>Nueva Contrase単a</label>
            <input type="password" name="Contrase単a" placeholder="Tu Nueva Contrase単a" required>
        </div>
        <div class="campo ">
            <input type="submit" value="Guardar Contrase単a" class="btn btn-azul">
         </div>
    </form>
</main>