<main class="contenedor">
    <form action="/restablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="Email" placeholder="Tu Email" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-secion">Recorde la Contraseña...Volver a Iniciar Sesion</a>
        </div>
        <div class="campo ">
            <input type="submit" value="Restablecer Contraseña" class="btn btn-azul">
         </div>
    </form>
</main>